/* Import Local CSS */
@import url(/css/reset.css);
@import url(/css/variables.css);

* {
  font-family: var(--primaryKr);
  font-weight: 300;
}
body {
  margin: 0;
  color: var(--darkBlack);
  line-height: 1.5em;
  font-size: 14px;
}

/* ##### Common CSS ##### */
/* Layout CSS */
.container {
  width: 100%;
  position: relative;
}
/* Logo CSS */
.logo {
  font-family: var(--logoEn);
}
/* Button CSS */
.btn_primary {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
/* GNB CSS */
.gnb {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 375px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid var(--cloudyGray);
}
.gnb a {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--lightGray);
  gap: 5px;
}
.gnb a i {
  font-size: 22px;
  position: relative;
}
.gnb a i em {
  position: absolute;
  top: -3px;
  right: 18px;
  width: 15px;
  height: 15px;
  background-color: var(--royalBlue);
  border-radius: 50%;
  font-style: normal;
}
.gnb a i em::after {
  content: attr(data-count);
  font-family: var(--primaryEn);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 11px;
}
.gnb a:nth-of-type(1) i {
  font-size: 28px;
}
.gnb a:nth-of-type(4) i {
  font-size: 26px;
}
.gnb a span {
  display: block;
  font-size: 13px;
}
/* Main Header CSS */
.main_header {
  height: 80px;
  background-color: var(--crimson);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.btn_back {
  flex: 1;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
}
.main_header .logo {
  flex: 5;
  color: #fff;
  font-size: 26px;
  margin: 0;
}
.user_alarm {
  flex: 1;
  font-size: 22px;
  color: #fff;
  margin-right: 5px;
}
.user_alarm span {
  position: relative;
}
.user_alarm span em {
  position: absolute;
  top: 0;
  right: -4px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background-color: var(--royalBlue);
  border-radius: 50%;
  text-align: center;
}
.user_alarm span em::after {
  content: attr(data-count);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-size: 11px;
  font-family: var(--primaryEn);
}
/* Content Padding */
[class*="content"] {
  padding: 20px;
}
/* Custom Check Box */
.custom_chk label {
  transform: translateY(-2px);
}
.custom_chk label input {
  display: none;
}
.custom_chk label input + em {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  margin-right: 3px;
  transform: translateY(2px);
}
.custom_chk label input + em::after {
  content: "\F26B";
  font-style: normal;
  font-family: "bootstrap-icons";
  color: var(--lightGray);
}
.custom_chk label input:checked + em::after {
  color: var(--crimson);
}
/* Custom Buttons - Clear */
.btn_all_clear {
  font-size: 12px;
  padding: 3px 8px;
  border: none;
  background-color: var(--gainsboro);
  color: #fff;
  border-radius: 10px;
}
.btn_clear {
  background-color: transparent;
  color: var(--lightGray);
  border: none;
}
/* Circle Arrow Icon */
.arrow::after {
  content: "\F282";
  font-family: "bootstrap-icons";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--fuschia);
  transition: 0.35s;
}
.arrow.active::after {
  background-color: transparent;
  transform: translateY(-50%) rotate(180deg);
}
/* Custom Badge Design */
.badge {
  font-size: 10px;
  text-transform: uppercase;
  font-family: var(--primaryEn);
  font-weight: 400;
  border-radius: 10px;
  padding: 0 5px;
  color: #fff;
}
.badge.new {
  background-color: var(--turquoise);
}
.badge.hot {
  background-color: var(--crimson);
}
/* Button Share */
.btn_share {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}
/* ########## Preloading html ########## */
.preloading {
  height: 100vh;
}
.preloading_inner {
  position: relative;
  height: inherit;
  background: url(/images/preloading-back.jpg) no-repeat center left -130px;
  background-size: cover;
}
.heading_preloading {
  position: absolute;
  top: 75px;
  left: 30px;
}
.heading_preloading .logo {
  font-size: 32px;
  color: var(--crimson);
  white-space: nowrap;
}
.slogan span {
  display: block;
  font-family: var(--secondaryKr);
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5em;
}
/* ########## Sign-in html ########## */
.signin {
}
.signin_photo {
  height: 250px;
  background: url(/images/signin-header.jpg) no-repeat center center / cover;
}
.signin_header {
  text-align: center;
}
.signin_header h2 {
  font-size: 26px;
  margin: 0;
}
.signin_header p {
  font-size: 16px;
  font-weight: normal;
}
.signin_field input {
  width: 100%;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid var(--gainsboro);
  margin: 5px 0;
}
.signin_field input:focus {
  border-color: var(--yellowGreen);
}
.signin_field input::placeholder {
  color: var(--silverGray);
  transition: 0.35s;
}
.signin_field input:focus::placeholder {
  color: transparent;
}
.status {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
button.btn_signin {
  background-color: var(--yellowGreen);
}
.join_member {
  text-align: center;
  margin: 15px 0;
  font-weight: normal;
}
.join_member a {
  font-weight: normal;
  margin-left: 5px;
  text-decoration: underline;
}
.easy_signin {
  text-align: center;
}
.easy_signin span {
  color: var(--lightGray);
}
.social_btn {
  margin: 10px 0;
}
.social_btn a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 3px;
}
.social_btn a img {
  width: inherit;
}
/* ########## Sign-up html ########## */
.signup_field {
  margin-bottom: 15px;
}
.signup_field span {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 10px;
}
.signup_field span em {
  color: crimson;
}
.signup_field input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gainsboro);
  padding: 10px 0;
}
.signup_field input::placeholder {
  color: var(--silverGray);
  transition: 0.35s;
}
.signup_field input.day::placeholder {
  color: var(--darkBlack);
}
.signup_field input:focus::placeholder {
  color: transparent;
}
.signup_field > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.signup_field > div :is(input, select, button) {
  padding: 8px;
  border: 1px solid var(--gainsboro);
  border-radius: 5px;
}
.signup_field > div :is(input, select) {
  flex: 1;
  text-align: center;
}
.signup_field :is(input, select):focus {
  border-color: var(--yellowGreen);
}
.btn_getcode {
  width: 33%;
  background-color: #fff;
}
.agree_terms {
  margin-bottom: 15px;
}
.agree_terms label {
  display: block;
  color: var(--lightBlack);
  margin-bottom: 7px;
}
.agree_terms input {
  font-size: 13px;
}
.btn_signup {
  background-color: var(--crimson);
}
/* ########## Main html ########## */
.front {
}
.front_inner {
}
.front_content {
  padding: 0;
  overflow-x: hidden;
}
/* Category Navigation */
.category_navigation {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.category_navigation a {
  flex: 1;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
.category_navigation a.active {
  color: var(--crimson);
  border-bottom: 3px solid var(--crimson);
}
.front_slider a {
  width: 100%;
  height: 100%;
}
.front_slider a img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/* Slick Slider Custom prev, next Button */
.front_slider .slick-prev,
.front_slider .slick-next {
  z-index: 1000;
}
.front_slider .slick-prev {
  left: 15px;
}
.front_slider .slick-next {
  right: 15px;
}
.front_slider .slick-prev:before,
.front_slider .slick-next:before {
  font-family: "bootstrap-icons";
  color: var(--darkGray);
  font-size: 25px;
}
.front_slider .slick-prev:before {
  content: "\F284";
}
.front_slider .slick-next:before {
  content: "\F285";
}
.goods_suggestion {
  margin: 20px 0;
  padding: 0 20px;
}
.goods_suggestion_header h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4em;
}
.goods_suggestion_header span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: var(--darkGray);
}
.goods_suggestion_items {
  width: 460px;
}
.goods_suggestion_item .thum {
  width: 145px;
  height: 180px;
}
.goods_suggestion_item .thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}
.goods_suggestion_item .desc {
  width: 135px;
}
.goods_title h3 {
  font-size: 13px;
  line-height: 1.2em;
  margin-bottom: 5px;
}
.goods_title div {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.goods_title div span {
  color: var(--crimson);
}
.goods_title div b {
  font-weight: 400;
}
.goods_title div s {
  color: var(--silverGray);
}
.btn_goods_suggestion_more {
  display: block;
  border: 1px solid var(--crimson);
  border-radius: 30px;
  padding: 8px;
  font-weight: 16px;
  font-weight: 400;
  text-align: center;
}
/* Front Banner */
.front .banner a img {
  width: 100%;
}
/* Food Type */
.food_type {
  margin-top: 20px;
}
.food_type input[name="food_type"] {
  display: none;
}
.food_type .tab_btn {
  height: 40px;
  background-color: var(--beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.food_type .tab_btn label {
  font-size: 15px;
  font-weight: 400;
}
.food_type_tabs {
  width: 500%;
  display: flex;
  transition: 0.5s;
}
/* ### Food Type Checked Function ### */
.food_type input[id="tab1"]:checked ~ .tab_btn label[for="tab1"],
.food_type input[id="tab2"]:checked ~ .tab_btn label[for="tab2"],
.food_type input[id="tab3"]:checked ~ .tab_btn label[for="tab3"],
.food_type input[id="tab4"]:checked ~ .tab_btn label[for="tab4"],
.food_type input[id="tab5"]:checked ~ .tab_btn label[for="tab5"] {
  color: var(--crimson);
}
.food_type input[id="tab1"]:checked ~ .food_type_tabs {
  transform: translateX(0);
}
.food_type input[id="tab2"]:checked ~ .food_type_tabs {
  transform: translateX(-20%);
}
.food_type input[id="tab3"]:checked ~ .food_type_tabs {
  transform: translateX(-40%);
}
.food_type input[id="tab4"]:checked ~ .food_type_tabs {
  transform: translateX(-60%);
}
.food_type input[id="tab5"]:checked ~ .food_type_tabs {
  transform: translateX(-80%);
}
.food_type_tab {
  flex: 1;
  width: 20%;
  padding: 20px;
  counter-reset: rank;
}
.food_type_tab .tab_item {
  display: flex;
  gap: 10px;
}
.food_type_tab .thum {
  flex: 1;
  position: relative;
}
.food_type_tab .thum::before {
  counter-increment: rank;
  content: counter(rank);
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px 0 0 0;
  background-color: #00000086;
  color: #fff;
  padding-top: 4px;
}
.food_type_tab .thum img {
  width: 100%;
  border-radius: 5px;
}
.food_type_tab .desc {
  flex: 2;
}
.food_type_tab .badge_wish {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cloudyGray);
}
.food_type_tab .goods_badge {
}
.food_type_tab .badge {
}
.food_type_tab .wish::after {
  content: "\F417";
  display: inline-block;
  font-family: "bootstrap-icons";
  color: var(--silverGray);
}
.food_type_tab .wish.active::after {
  content: "\F415";
  color: var(--crimson);
}
.food_type_tab .goods_title div {
  justify-content: flex-start;
  gap: 10px;
}
.food_type_tab .goods_title h3 {
  font-size: 13px;
  font-weight: 400;
  margin: 3px 0;
}
.food_type_tab .goods_title div {
  font-size: 13px;
}
.food_type_tab .goods_title div span {
  font-weight: 400;
}
.food_type_tab .goods_title div b {
  font-weight: 600;
}
.food_type_tab .goods_title div s {
  font-weight: 400;
}
/* Front Footer */
.front_footer {
  background-color: var(--cloudyGray);
  padding: 20px;
  margin-top: 25px;
}
.front_footer > h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.company_link {
  display: flex;
  margin-bottom: 10px;
}
.company_link a:not(:last-child)::after {
  content: "|";
  display: inline-block;
  transform: translateY(-2px);
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--silverGray);
}
.company_info_title {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 5px;
}
.company_info_title h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}
.btn_view_more {
  border: none;
  background-color: transparent;
  color: var(--darkGray);
}
.btn_view_more::after {
  content: "\F282";
  display: inline-block;
  font-family: "bootstrap-icons";
  margin-left: 5px;
  transform: translateY(2px);
  transition: 0.35s;
}
.btn_view_more.active::after {
  transform: translateY(2px) rotate(180deg);
}
.company_info_more {
  display: none;
}
.company_info_more span {
  font-size: 13px;
  display: block;
}
/* ########## Goods Detail html ########## */
.goods_detail {
}
.goods_detail_inner {
}
/* Goods Detail Header */
.goods_detail_header {
  height: 80px;
  font-size: 24px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.goods_detail_header .btn_back {
  color: var(--darkBlack);
  flex: 0;
}
.goods_detail_header .logo {
  margin-bottom: 0;
  flex: 1;
}
.navigator span {
  margin: 7px;
}
.navigator span em {
  position: relative;
}
.navigator span em::after {
  content: attr(data-number);
  position: absolute;
  top: 2px;
  left: -10px;
  font-style: normal;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background-color: var(--royalBlue);
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.goods_detail_content {
  padding: 0;
  padding-bottom: 80px;
}
/* Goods Slider */
.goods_slider_outer {
  position: relative;
}
.goods_slider {
}
.goods_slider_item {
  width: 100%;
}
.goods_slider_item a {
  width: inherit;
  height: 350px;
}
.goods_slider_item a img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/* Slick Slider Dots Custom CSS */
.slick-dots {
  bottom: 5px;
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button:before {
  font-size: 10px;
  color: #fff;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: var(--crimson);
  opacity: 1;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
/* Goods Info */
.goods_info {
  padding: 20px;
}
.goods_rating {
  text-align: right;
}
.stars {
  color: var(--gold);
}
.stars a {
  color: var(--royalBlue);
  font-weight: 400;
}
.goods_info .goods_badge {
  /* border: 1px solid #000; */
}
.goods_info .goods_title {
}
.goods_info .goods_title h3 {
  font-size: 16px;
  font-weight: 500;
}
.goods_info .goods_title div {
  font-size: 20px;
  font-weight: 400;
}
.goods_info .goods_title div span s {
  margin-right: 15px;
}
.goods_info .goods_title div span b {
  font-weight: 500;
}
.goods_delivery_info {
  margin-top: 30px;
  display: flex;
}
.goods_delivery_info b {
  flex: 1;
  font-weight: 500;
  color: var(--silverGray);
}
.goods_delivery_info p {
  flex: 3;
  margin: 0;
}
.goods_delivery_info p span {
  font-weight: 500;
  display: block;
  color: var(--lightBlack);
}
.goods_delivery_info p span em {
  font-weight: 500;
  color: var(--silverGray);
}
/* Goods Detail */
.goods_detail .banner {
  width: 100%;
  text-align: center;
}
.goods_detail .banner.first img {
  width: 70%;
}
.goods_detail .banner img {
  width: 100%;
}
.detail_desc {
  margin: 20px 0;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--lightBlack);
  text-align: center;
}
/* Goods Accordion */
.goods_accordion {
  /* border: 1px solid #000; */
  margin-top: 20px;
  margin-bottom: 30px;
}
.goods_accordion .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  font-weight: 500;
  transition: 0.35s;
  border-bottom: 1px solid var(--cloudyGray);
}
.goods_accordion .title.active {
  color: var(--crimson);
}
.goods_accordion .title::after {
  content: "\F64D";
  font-family: "bootstrap-icons";
  font-size: 16px;
  font-weight: bold;
  color: var(--darkGray);
  transition: 0.35s;
}
.goods_accordion .title.active::after {
  content: "\F63B";
  color: var(--crimson);
}
.goods_accordion .detail {
  padding: 20px;
  display: none;
}
.goods_accordion .detail img {
  width: 100%;
}
.accordion_detail_item:not(:last-child) {
  border-bottom: 1px solid var(--cloudyGray);
  margin-bottom: 10px;
}
.accordion_detail_item .stars {
  color: var(--lightGray);
}
.accordion_detail_item .stars i {
}
.accordion_detail_item p {
  font-weight: 400;
  margin: 10px 0;
}
.accordion_detail_item p span {
  display: block;
  font-weight: 500;
}
/* Goods Order Info */
.goods_order_info {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 375px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  transition: 0.5s;
}
.goods_order_choice {
  padding: 15px;
  display: flex;
  gap: 15px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--cloudyGray);
}
.goods_order_choice .wish {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods_order_choice .wish::after {
  content: "\F417";
  font-family: "bootstrap-icons";
  display: inline-block;
  font-size: 30px;
  color: var(--silverGray);
  transform: translateY(1px);
  transition: 0.35s;
}
.goods_order_choice .wish.active::after {
  content: "\F415";
  color: var(--crimson);
}
.goods_order_choice .btn_order_choice {
  flex: 5;
  padding: 10px;
  background-color: var(--royalBlue);
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
.goods_order_final {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  padding-top: 0;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  display: none;
}
.goods_order_final .down_icon {
  text-align: center;
  margin-top: 10px;
}
.goods_order_final .down_icon::after {
  content: "\F282";
  font-family: "bootstrap-icons";
  font-size: 15px;
  color: var(--silverGray);
}
.info_badge.arrival {
  border: 1px solid var(--crimson);
  padding: 1px 8px;
  border-radius: 20px;
  font-size: 12px;
  color: var(--crimson);
  font-weight: 400;
}
.goods_order_final_info h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.price_quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.price_quantity > * {
}
.price_quantity :is(span, s) {
  font-weight: 400;
}
.price_quantity span {
  color: var(--crimson);
}
.price_quantity s {
  flex: 1;
  color: var(--lightGray);
}
.price_quantity b {
  flex: 1;
  font-weight: 500;
}
.final_quantity {
  position: relative;
  flex: 1;
  display: flex;
}
.final_quantity input {
  width: 100%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--lightGray);
  font-weight: bold;
}
button.minus,
button.plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 18px;
}
button.minus {
  position: absolute;
  left: 0;
  color: var(--silverGray);
}
button.plus {
  position: absolute;
  right: 0;
}
.payment_benefit {
  margin-top: 20px;
}
.payment_benefit b {
  font-size: 16px;
  font-weight: 400;
}
.payment_benefit p {
  margin-top: 5px;
  margin-bottom: 20px;
  color: var(--darkGray);
}
.payment_benefit p a {
  display: block;
  text-decoration: underline;
}
.goods_order_btns {
  display: flex;
  gap: 10px;
}
.btn_cart,
.btn_now_order {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 400;
}
.btn_cart {
  background-color: transparent;
  border: 1px solid var(--royalBlue);
  color: var(--royalBlue);
}
.btn_now_order {
  background-color: var(--royalBlue);
  border: none;
  color: #fff;
}

/* ########## Category html ########## */
.category_content {
  padding: 0;
}
.category_accordion .title {
  position: relative;
  color: var(--crimson);
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid var(--cloudyGray);
  font-size: 16px;
  font-weight: 500;
}
.category_accordion .detail {
  display: none;
  padding: 10px 20px;
  background-color: var(--snow);
}
.category_accordion .detail a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  padding: 5px 0;
}
/* ########## Search html ########## */
.search {
}
.search_inner {
}
.search_content {
}
.search_field {
}
.search_field input {
  width: 100%;
  padding: 10px 50px;
  border: none;
  border-radius: 30px;
  background: var(--snow) url(/images/icon-search.svg) no-repeat center left
    20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.search_field input::placeholder {
  transition: 0.35s;
}
.search_field input:focus::placeholder {
  color: transparent;
}
.search_recent .title {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_recent .title h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--crimson);
}
.search_recent .item {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cloudyGray);
}
.search_recent .item span {
  font-size: 15px;
  font-weight: 400;
  color: var(--lightGray);
}
.search_increase {
  margin-top: 30px;
}
.search_increase .title h3 {
  font-size: 16px;
  font-weight: 500;
}
.search_increase .title p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--lightGray);
}
.search_increase_list {
  line-height: 2em;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: rank 0;
}
.search_increase_list li::before {
  counter-increment: rank;
  content: counter(rank);
  margin-right: 10px;
  font-weight: 500;
}
.search_increase_list li a {
  font-weight: 400;
}
/* ########## My Page html ########## */
.mypage {
}
.mypage_inner {
}
.mypage_content {
  padding: 20px 0;
}
.mypage .user_info {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}
.mypage .user_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.mypage .user_avatar img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.user_summary {
  flex: 1;
}
.user_summary .rating {
  display: flex;
  justify-content: space-between;
}
.user_summary .rating > * {
  font-size: 15px;
  font-weight: 500;
}
.user_summary .rating b {
  flex: 1;
  color: var(--limeGreen);
}
.user_summary .rating span {
  flex: 3;
  color: var(--lightBlack);
}
.btn_setting {
  flex: 1;
  text-align: right;
  color: var(--lightGray);
}
.user_summary .nickname {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.point_coupon {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.point_coupon :is(.point, .coupon) {
  padding: 3px 15px;
  border: none;
  border-radius: 20px;
  background-color: var(--gainsboro);
  display: flex;
  justify-content: space-between;
}
.point_coupon :is(.point, .coupon) span {
  font-size: 12px;
  font-weight: bold;
}
.point_coupon :is(.point, .coupon) span:nth-child(2) {
  color: var(--crimson);
}
.point_coupon .point {
  flex: 2;
}
.point_coupon .point span {
}
.point_coupon .coupon {
  flex: 1;
}
.delivering {
  margin-top: 40px;
  padding: 0 20px;
}
.delivering h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.delivering_items {
  border: 1px solid var(--cloudyGray);
  border-radius: 10px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}
.delivering_item {
  display: flex;
  gap: 10px;
}
.delivering_item {
  padding: 10px 0;
  border-bottom: 1px solid var(--cloudyGray);
}
.delivering_item:last-child {
  border-bottom: none;
}
.delivering_item .thum {
  width: 60px;
  height: 60px;
}
.delivering_item .thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.delivering_item .desc span {
  font-weight: 400;
}
.delivering_item .desc b {
  display: block;
  font-weight: 500;
  color: var(--limeGreen);
}
.mypage .banner {
  margin: 20px 0;
}
.mypage .banner a {
  width: 100%;
  height: 60px;
}
.mypage .banner a img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.user_shortcut {
  margin-bottom: 20px;
}
.user_shortcut a {
  position: relative;
  border-bottom: 1px solid var(--cloudyGray);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.user_shortcut a:last-of-type {
  border-bottom: none;
}

.user_shortcut a i {
  font-size: 16px;
  width: 25px;
}
.user_shortcut a:nth-of-type(5) i {
  font-size: 20px;
}
.user_shortcut a span {
  font-size: 15px;
  font-weight: 500;
}
.user_shortcut .arrow::after {
  transform: translateY(-50%) rotate(-90deg);
  background-color: transparent;
  right: 15px;
}
.btn_wrapper {
  padding: 0 20px;
}
.btn_signout {
  background-color: var(--gainsboro);
}
/* ########## Cart html ########## */
.cart {
}
.cart_inner {
}
.cart_content {
  padding: 0;
}
.cart_items_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-top: 20px;
}
.cart_items_header h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
.cart_items {
  margin: 20px 0;
}
.cart_item {
  padding: 0 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--cloudyGray);
}
.cart_item_title {
  display: flex;
  align-items: flex-start;
}
.cart_item_title input {
  display: none;
}
.cart_item_title input + em::before {
  content: "\F26C";
  display: inline-block;
  zoom: 1.5;
  transform: translateY(3px);
  font-family: "bootstrap-icons";
  font-style: normal;
  margin-right: 5px;
  color: var(--gainsboro);
}
.cart_item_title input:checked + em::before {
  color: var(--royalBlue);
}
.cart_item_title label {
  flex: 1;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 5px;
}
.cart_item_desc {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.cart_item_thum {
  width: 80px;
  height: 80px;
}
.cart_item_thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}
.cart_item_info {
  flex: 1;
}
.cart_item_info > * {
  display: block;
  font-weight: 500;
}
.delivery_date {
  color: var(--limeGreen);
}
.order_time i {
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
}
.total_price {
  margin-top: 15px;
  font-size: 18px;
}
.benefit {
  margin-top: 10px;
  background-color: #f2e5355d;
  border-radius: 3px;
  padding-left: 10px;
  padding-bottom: 4px;
  display: flex;
  gap: 10px;
}
.benefit em {
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
}
.benefit em::before {
  content: "\F26E";
  display: inline-block;
  font-family: "bootstrap-icons";
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
  transform: translateY(4px);
}
/* Custom Select */
.custom_select {
  margin-top: 10px;
  position: relative;
  border: 1px solid var(--cloudyGray);
  background-color: var(--snow);
  display: flex;
  align-items: center;
  width: 70px;
  height: 30px;
}
.custom_select::after {
  content: "\F229";
  font-family: "bootstrap-icons";
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 12px;
  transform: translateY(-50%);
  border-left: 1px solid var(--cloudyGray);
  padding-left: 8px;
  pointer-events: none;
}
.custom_select select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  background-color: transparent;
  padding-left: 15px;
}

.cart_items_summary {
  margin-top: 30px;
  padding: 0 20px;
  font-size: 16px;
}
.cart_items_summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cart_items_summary div:last-child {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid var(--cloudyGray);
}
.cart_items_summary div span:first-child {
  font-weight: 400;
}
.cart_items_summary div span:last-child {
  font-weight: 500;
}
.cart_items_summary div:last-child span:first-child {
  font-size: 18px;
}
.cart_items_summary div:last-child span:last-child {
  font-size: 18px;
  font-weight: 700;
}
.btn_order {
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 0;
  background-color: var(--royalBlue);
}
.cart_notice {
  list-style: none;
  padding: 0;
  margin: 0px 20px;
  margin-bottom: 15px;
  font-size: 13px;
  color: var(--lightGray);
}
.cart_notice li::before {
  content: "-";
  margin-right: 5px;
}
